---
_extends: template

repository:
  name: hs-msgpack-binary
  description: Haskell implementation of MessagePack / msgpack.org
  homepage: http://msgpack.org/
  topics: msgpack, haskell
  has_issues: true

branches:
  - name: "master"
    protection:
      required_status_checks:
        contexts:
          - Codacy/PR Quality Review
          - Travis CI - Pull Request
          - WIP
          - code-review/reviewable
          - coverage/coveralls
          - license/cla
