*~
*#
*.o
*.hi
*.a
*.exe
cabal-dev/
dist/
attic/
tmp/
*.aes
/msgpack/.cabal-sandbox/
/msgpack/cabal.sandbox.config
/msgpack-rpc/.cabal-sandbox/
/msgpack-rpc/cabal.sandbox.config
/msgpack-aeson/cabal.sandbox.config
/msgpack-aeson/.cabal-sandbox/
/.stack-work/
